In [1]:
import pandas as pd

In [21]:
def get_schedule_df():
    columns = [x for x in range(1,31)]
    schedule_81= pd.read_csv('./Data/81_game_schedule.csv', usecols = columns)
    schedule_110 = pd.read_csv('./Data/110_game_schedule.csv', usecols = columns)
    schedule_140 = pd.read_csv('./Data/140_game_schedule.csv', usecols = columns)
    schedule_162 = pd.read_csv('./Data/162_game_schedule.csv', usecols = columns)
    dataframes_names = [schedule_81, schedule_110, schedule_140, schedule_162]
    dataframes = []
    for df in dataframes_names:
        dataframes.append(df)
    return dataframes

In [22]:
def opp_win_pct():
    dataframes = get_schedule_df()
    opp_win_pct_dfs = []
    for df in dataframes:
        df = pd.DataFrame(df.mean(axis = 0))
        df.columns = ['Opp_Win_Pct']
        opp_win_pct_dfs.append(df)
    return opp_win_pct_dfs

In [23]:
def pct_of_games_against_500_teams():
    dataframes = get_schedule()
    games_against_500_dfs = []
    for df in dataframes:

In [41]:
df = get_schedule_df()[0]

30     Oak
31     Oak
32     Ana
33     Ana
34    .383
35    .383
36    .383
37    .383
38    .506
39    .506
40     Det
41     Det
42     Det
43    .346
44    .346
45    .346
46     Hou
47     Hou
48     Hou
49    .444
Name: Tex, dtype: object

In [39]:
games_over_500 = []
for team in df:
    df[team] = df[team].astype('int64')
    games_500 = df[df[team] >= .5]

ValueError: invalid literal for int() with base 10: ' Sea'

      Opp_Win_Pct
LAA      0.498160
Bal      0.511494
Bos      0.474333
ChW      0.507432
Cle      0.490309
Det      0.495346
Hou      0.478222
Kan      0.510877
Min      0.484790
NYY      0.495716
Oak      0.476395
Sea      0.510086
Tam      0.476568
Tor      0.518901
Ari      0.499272
Atl      0.500815
ChC      0.501222
Cin      0.498975
Col      0.519432
Mia      0.530284
LAD      0.491543
Mil      0.498642
NYM      0.499593
Phi      0.511605
Pit      0.506593
Sand     0.503654
Sanf     0.520630
StL      0.502519
Was      0.498963